<div class="user_conA">
    
    <div class="offset-sm-4 col-sm-3 top ">
        <div class="main-content">
        <p class="text-centet">観光地を検索</p>
        <%= form_with url: search_spots_path,method: :get,local: true do |f| %>
        <%= f.text_field :search, class: 'form-control',placeholder:'都道府県 観光地名' %>
        <%= f.submit '検索',class: "btn btn-info btn-s-md mt-1 btn-block"%>
        <% end %>
                    
        </div>
    </div>
</div>




